@{
    ViewBag.Title = "Home Page";
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <h1 style="text-align:center;">
        Hệ thống quản lý điểm Khoa Kỹ Thuật Công Nghệ
      
    </h1>
   
</section>
<!-- Main content -->
<section class="content">
    <!-- Small boxes (Stat box) -->
    
    <!-- /.row -->
</section>
<!-- /.content -->